/********************COMMON******************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flex {
    display: flex;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-30 {
    width: 30%;
}

.pd-05 {
    padding: 0.5rem;
}

.pd-1lr {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.pd-1 {
    padding: 1rem;
}

a {
    text-decoration: none;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.margin-b05 {
    margin-bottom: 0.5rem;
}

.b-rad {
    border-radius: 100%;
}

.none {
    display: none;
}

.op-0 {
    opacity: 0;
}

/********************COLORSS*****************/

.color-white {
    color: white;
}

.color-gray {
    color: gray;
}
/***********************NAV*******************/

.nav {
    height: calc(100vh - 4rem);
    width: 3rem;
    justify-content: space-between;
    flex-direction: column;
    background-color: black;
    overflow: hidden;
}

.link-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}

.link {
    font-size: 0.8rem;
    list-style: none;
}

.square {
    height: 30px;
    width: 30px;
    background-color: gray;
    display: inline-block;
    position: relative;
}

.fa-plus {
    position: absolute;
    left: calc(50% - 0.5rem);
    top: calc(50% - 0.5rem);
    color: #282828;
    font-size: 1rem;
}

.playlist-head {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.new {
    font-size: 0.6rem;
}

img.download {
    width: 1.3rem;
}

.link.download {
    width: 100%;
    border-bottom: 1px solid white;
}

img.account {
    width: 1.3rem;
}

.link.account {
    width: 100%;
}

/***********************MAIN*******************/

.home {
    border-left: 3px solid #adff2f;
}

.head {
    width: 100%;
    height: 10vh;
    justify-content: flex-end;
    align-items: center;
    background-color: #080b12;
}

.up-btn {
    border: 1px solid white;
    padding: 0.2rem 1.6rem;
    border-radius: 1.2rem;
    margin-right: 0.5rem;
    font-size: 0.8rem;
}

.mainpart-container {
    width: 100%;
}

.main-part {
    height: calc(100vh - 10vh - 4rem);
    width: 100%;
    background-color: #141922;
    overflow: scroll;
}

.features-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.features {
    list-style: none;
    line-height: 3rem;
    font-size: 0.6rem;
}

.features-txt {
    opacity: 0.5; 
}

.first {
    border-bottom: 1px solid #adff2f;
}

.sezione {
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 2 - 0.5rem);
    margin-right: 0.5rem;
}

.card-img {
    position: relative;
}

.card-caption {
    text-align: center;
}

.title {
    font-size: 0.7rem;
}

.sub {
    font-size: 0.4rem;
}

span {
    display: none;
    font-size: 0.8rem;
}

.logo-big {
    display: none;
    width: 100%;
}

.icon-play {
    font-size: 3rem;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(40% - 24px);
}

/***********************FOOTER*******************/

.footer {
    width: 100%;
    height: 4rem;
    background-color: #282828;
    padding: 0 auto;
    overflow: hidden;
    font-size: 0.8rem;
}

.foot {
    width: calc(100% / 3);
    height: 100%;
}

.foot-left {
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.foot-center {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foot-right {
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.img-player {
    width: 80%;
}

.player-left {
    width: calc(100% / 3 - 0.5rem);;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.track-title {
    font-size: 0.5rem;
}

.barra-player {
    height: 3px;
    background-color: gray;
    width: 80%;
    margin: 0 auto;
}

.barra-bright {
    width: 30%;
    background-color: white;
    height: 100%;
}

.center-up {
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.barra-volume {
    width: 40%;
    background-color: gray;
    height: 3px;
}

.volume-bright {
    width: 10%;
    height: 100%;
    background-color: white;
}


/***********************HOVER*********************/

.card-img:hover a {
    opacity: 1;
}

.link:hover a,
.link:hover i,
.playlist:hover {
    color: white;
    cursor: pointer;
}

.playlist:hover .square{
    background-color: white;
}

.features-txt:hover {
    opacity: 1;
}

.up-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 300ms;
}

.icons:hover  {
    cursor: pointer;
    color: white;
}

input[type=range]:hover {
    accent-color: white;
}
/**********************MEDIA*********************/

@media screen and (min-width:375px) {
    .nav {
        width: 10rem;
    }
    .link-container {
        align-items: flex-start;
    }
    span {
        display: inline-block;
    }
    .logo {
        display: none;
    }
    .logo-big {
        display: block;
    }
    .features {
        font-size: 0.7rem;
    }
    .none {
        display: flex;
    }
    .card {
        width: calc(100% / 2 - 1rem);
        font-size: 0.5rem;
    }
    
}

@media screen and (min-width:500px) {
    .card {
        max-width: calc(100% / 4 - 0.5rem);
        margin: 0;
    }
    .sezione {
        gap: 0.5rem;
    }
    .track-title {
        font-size: 0.8rem;
    }
    .img-player {
        width: 3.5rem;
    } 
}

@media screen and (min-width:700px) {
    .card {
        width: calc(100% / 6 - 1rem);
    }
    .sezione {
        gap: 1rem;
        margin: 0 0.5rem;
    }
    .features {
        font-size: 1rem;
    }
    .footer {
        font-size: 1rem;
    }
}